<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="style.css">
</head>
<body ng-app="myApp" ng-cloak>

<div class="container">

    <!--    <div ng-controller="AlertController">
            <uib-alert ng-show="alert" type="{{alert.type}}" close="onCloseAlert()">{{alert.msg}}</uib-alert>
            <button type="button" class='btn btn-default' ng-click="onAddAlert()">Add Alert</button>
        </div>-->

    <div ng-controller="UserListController as vm">

        <!--        <my-component message="vm.message" notify="vm.onNotify()">
                    <h2>Subbie</h2>
                </my-component>-->

        <div class="row">
            <h1>User List</h1>
            <button ng-click="vm.onSwitchView()" class="btn btn-success">
                {{(!vm.gridView) ? 'Grid View' : 'List View'}}
            </button>
            <br>
            <br>
        </div>

        <div ng-if="!vm.gridView" class="row">
            <user-grid-component data="vm.users" on-remove="vm.onDelete(user)"></user-grid-component>
            <a src="" ng-click="vm.onLoadMore()">Add More</a>
            <br>
        </div>

        <div ng-if="vm.gridView" class="row">

            <user-list-view-component data="vm.users"></user-list-view-component>
            <a src="" ng-click="vm.onLoadMore()">Add More</a>
            <br>

        </div>
    </div>
</div>

<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="app.js"></script>
<script src="userListController.js"></script>
<script src="userService.js"></script>
<script src="myComponent.js"></script>
<script src="userGridComponent.js"></script>
<script src="userListViewComponent.js"></script>
<script src="userDetailComponent.js"></script>
</body>
</html>
