<h1>Edit</h1>

<h2>{{vm.message}}</h2>

<form name="userEditForm" ng-submit="vm.Save(userEditForm.$valid)" novalidate>
    name: <input name="name"
                 type="text"
                 ng-model="name"
                 required
                 ng-minlength="3" >
    <!--div ng-if="userEditForm.name.$invalid" class="text-danger">
        The field is invalid
    </div>-->

    <div ng-messages="userEditForm.name.$error" class="text-danger" ng-if="userEditForm.name.$dirty || userEditForm.$submitted">
        <div ng-message="required">The name is required</div>
        <div ng-messages-include="messages.html"></div>
    </div>

    <br>
    age: <input name="age"
                type="number"
                ng-model="age"
                required>

    <div ng-messages="userEditForm.age.$error" class="text-danger" ng-if="userEditForm.age.$dirty || userEditForm.$submitted">
        <div ng-messages-include="messages.html"></div>

    </div>
    <br><br>
    <button type="submit">Save</button>
</form>

<br>

<pre>
    <code>
        {{ userEditForm | json }}
    </code>
</pre>