<div>

    <div ng-bind-html="vm.message"></div>


    <div class="row">
        <h1>User List</h1>
        <eu-button clicked="vm.onSwitchView()">{{(!vm.gridView) ? 'EU Grid View' : 'EU List View'}}</eu-button>
        <br>

        <button ng-click="vm.onSwitchView()" class="btn btn-success">
            {{(!vm.gridView) ? 'Grid View' : 'List View'}}
        </button>
        <a ui-sref="edit" class="btn btn-success">
            Add
        </a>
        <br>
        <br>
    </div>

    <div ng-if="!vm.gridView" class="row">
        <table-view users="vm.users" on-remove="vm.onDelete(user)"></table-view>
        <a src="" ng-click="vm.onLoadMore()">Add More</a>
        <br>
    </div>

    <div ng-if="vm.gridView" class="row">
        <grid-view users="vm.users"></grid-view>
        <a src="" ng-click="vm.onLoadMore()">Add More</a>
        <br>
    </div>
</div>
